# Python standard ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments and dependencies
.venv/
venv/
env/
ENV/
.env
.envrc

# Database (Sua regra específica para o Kanban)
kanban.db
*.db-journal
db.sqlite3
db.sqlite3-journal

# Testing and Tools
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# System files
.DS_Store
Thumbs.db